services:
  server:
    build: ./server
    container_name: wreddit_server
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - MONGO_URI=mongodb://mongo:27017/wreddit
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: wreddit_client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    stdin_open: true
    tty: true

  mongo:
    image: mongo:latest
    container_name: wreddit_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: